.productImg {
    width: 364px;
}

.productBox {
    border-style: solid;
    margin-bottom: 80px;
}
.plusMinusBtn {
    display: flex;
    align-items: center;
}

.plusMinusBtn button{
    margin-left: 15px;
}
.xBtn {
    display: inline-block;
    float: right;
    margin-right: 0px;
}

.orderBox {
    border-style: solid;
    border-color: red;
    margin-bottom: 70px;
}